::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.tab {
    overflow: hidden;
}
.tab-content {
    max-height: 0;
    transition: all 0.5s;
}

input:checked + .tab-label .test {
    background-color: #fff;
}
input:checked + .tab-label .test svg {
    transform: rotate(180deg);
    stroke: #fff;
}
input:checked + .tab-label::after {
    transform: rotate(90deg);
}
input:checked ~ .tab-content {
    max-height: 100vh;
}
